<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--    引入css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!--    引入bootstrap的js之前 一定要引入jq js依赖jq 并且需要爱maven处重新导入下资源 否则重新编译也不生效的-->
    <script src="/js/jquery.min.js"></script>
    <!--    引入js-->
    <script src="/js/bootstrap.min.js"></script>


</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="jumbotron">
    <h1>出错啦！！！</h1>
    <p th:text="${message}">服务器太热了，稍等在试试</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
</div>

</body>
</html>