<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import :: head}"></head>


</head>
<script type="application/javascript">
    //窗口加载完毕 后做校验 同一个浏览器存储的都可以取出来
    window.onload = function () {

        let item = window.localStorage.getItem("closable");
        //必须都是字符串 因为只能存储字符串
        if (item == "true"){
            window.close();
            //别忘了删除
            window.localStorage.removeItem("closable");
        }
    }

</script>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2><span class="glyphicon  glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img th:src="${question.user.avatarUrl}" class="media-object img-rounded">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                    </h4>
<!--                    这里不展示详细内容比较好-->
<!--                    <span th:text="${question.description}"></span><br>-->
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd:HH mm')}"></span></span>
                </div>
            </div>
            <!--            分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirsPage}">
                        <a th:href="@{/(page=1,search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page-1},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!--                    页号的列表 循环中选中的页面和传入页面中的page相等就高亮-->
                    <li th:class="${pagination.page == page}?'active':''" th:each="page : ${pagination.pages}"><a
                            th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page+1},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
<!--                        这个tag是后台回显到这里的 跟踪条件-->
                        <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
<!--        右侧-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div th:insert="~{side :: side}"></div>
<!--            热门标签-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>热门标签</h4>
                <ul class="question-related">
                    <!--                    循环从后台传过来的相关问题 取出每一个问题的标题-->
                    <li th:each="tag : ${tags}">
<!--                      跳转到该tag下的所有问题  以tag传给后台 然后跳转到相关问题-->
                        <a th:href="@{/(page=1,search=${search},tag=${tag})}" th:text="${tag}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: foot}"></div>


</body>
</html>